* {
    transition: 100ms;
}

html {
    scroll-behavior: smooth;
    background-color: #020c15;
}

body {
    padding: 50px;
}

h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h1, h2 {
    font-weight: 700;
}

h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

a:hover {
    text-decoration-style: wavy;
    color: #89b9e2;
    text-decoration-color: #89b9e2;
}

a span {
    margin-bottom: 2px;
}

ion-icon {
    font-size: 1.5em;
    margin-bottom: 0;
}

.flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.p {
    color: #89b9e2 !important;
}

hr {
    border: 1px dashed #89b9e2;
    margin: 20px 0;
    width: 40%;
}

@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-100%)}
}

.container {
    overflow-x: hidden;
    width: 100%;
}

.horizontal-scrolling-items {
    display: flex;
    min-width: 100vh;
    width: 100%;
    animation-name: infiniteScroll;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    flex-wrap: nowrap !important;
    gap: 70px;
    margin-top: 0;
}

.horizontal-scrolling-items p {
    white-space: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.project {
    margin-bottom: 7px;
}

.project.flex {
    gap: 15px;
}

.project-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}

.project-outer {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }

    .project-outer {
        width: 100%;
    }
}

#page {
    transition: 250ms;
}