<!DOCTYPE html>
<html>
    <head>
      <script async defer data-host-url="https://umami.loophole.site" data-website-id="9d72f0a4-e805-4d22-a518-4573f03def17" src="/static/umami.js"></script>
      <script src="https://unpkg.com/feather-icons"></script>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="/static/extras.css">
        <script src="/static/commons.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snow</title>
    </head>
    <body>
        <nav>
            <ul style="margin-left: 25px;">
              <li><strong>Snow</strong></li>
            </ul>
            <ul style="margin-right: 25px;">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="//coolcodersj.is-a.dev">Photography</a></li>
            </ul>
          </nav>

          <header>
            <div class="container" style="align-items: unset; text-align: center;">
                <h1>Extensions</h1>
                <p>Fun little programs that extend website functionality.</p>
                <div style="text-align: left;">
                    <article>
                        <header><h4>Google Slides Custom Zoom</h4></header>
                        Zoom a Google Slides Presentation to a custom zoom level. Drag the link to your bookmarks then click it to use it.
                        <br><br>
                        <a href="javascript:(function(){let val = prompt('Enter the zoom value (percentage) -- Make sure you set the zoom value on Google Slides to 100% first.'); if (val != null && val != '') {let zoomLevel = Number(val); let style1 = document.getElementById('workspace-container').getAttribute('style'); document.getElementById('workspace-container').setAttribute('style', style1+'overflow: scroll auto;'); document.getElementById('workspace').setAttribute('style', `transform: scale(${zoomLevel/100}); width: 0px; height: 0px;`);}})();"><i data-feather="zoom-in"></i>Google Slides Zoom</a>
                    </article>

                    <article>
                        <header><h4>Google Slides Custom Zoom - Trackpad</h4></header>
                        Use the pinch-zoom gestures on your trackpad to zoom into and out of a presentation. Install Tampermonkey (or Chrome User Script Handler) then click the link to install.
                        <br><br>
                        <a href="/static/Google%20Slides%20Zoom.user.js"><i data-feather="download"></i>Install Script</a>
                    </article>

                    <article>
                      <header><h4>Google Drive Color Coded File Dots</h4></header>
                      Add color labels next to Google Drive file names to easily remember what a file is for. Install Tampermonkey (or Chrome User Script Handler) then click the link to install. When using Google Drive, you may need to reload if the labels do not automatically appear.
                      <br><br>
                      <a href="/static/Google%20Drive%20Color%20Coded%20File%20Dots.user.js"><i data-feather="download"></i>Install Script</a>
                  </article>
                </div>
            </div>
        </header>
        <script>
            feather.replace()
          </script>
        <button class="contrast switcher theme-switcher" onclick="changeTheme()" aria-label="Turn off dark mode"><i>Turn off dark mode</i></button>
    </body>
</html>