<!DOCTYPE html>
<html>
    <head>
      <script async defer data-website-id="9f5ce754-9066-400c-9cf8-cdb86d972712" src="https://umami.loophole.site/umami.js"></script>        <script src="https://unpkg.com/feather-icons"></script>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="/static/extras.css">
        <script src="/static/commons.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snow</title>
    </head>
    <body>
        <nav>
            <ul style="margin-left: 25px;">
              <li><strong>Snow</strong></li>
            </ul>
            <ul style="margin-right: 25px;">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/extras">Extras</a></li>
              <li><a href="//coolcodersj.is-a.dev">Photography</a></li>
            </ul>
          </nav>

          <header>
            <div class="container">
                <img src="https://avatars.githubusercontent.com/u/53063247?v=4" class="pfp" />
                <h1>Shuchir Jain</h1>
                <p>I love photography, programming, playing around with hardware, and trying anything new.</p>
                <div style="display: flex; gap: 10px; margin-bottom: 30px; scale: 1.2;"><a href="//github.com/CoolCoderSJ"><i data-feather="github"></i></a> <a href="mailto:shuchir.jain@gmail.com"><i data-feather="mail"></i></a></div>
                <div>
                  <div class="category">
                    <h4>What I do</h4>
                    <p>I'm an Administrative Officer (little bit of everything) at <a href="//mathlings.org">Mathlings</a></p>
                  </div>

                  <div class="category">
                  <h4>Certifications</h4>
                  <p><a href="https://www.freecodecamp.org/certification/ShuchirJain/front-end-development-libraries" target="_blank"><i data-feather="award"></i> Front End Development Libraries</a></p>
                  <p><a href="https://www.freecodecamp.org/certification/ShuchirJain/back-end-development-and-apis" target="_blank"><i data-feather="award"></i> Backend Development and APIs</a></p>
                  <p><a href="https://www.freecodecamp.org/certification/ShuchirJain/scientific-computing-with-python-v7" target="_blank"><i data-feather="award"></i> Scientific Computing with Python</a></p>
                </div>
                  <br><h4>Skills</h4>
                <p>Languages: <code>Python</code> <code>JavaScript</code></p>
                <p>Frameworks: <code>Flask</code> <code>React Native</code> <code>Web.py</code> <code>Typer</code></p>
                <p>CSS Libraries: <code>Bootstrap</code> <code>Bulma</code> <code>Material.io</code> <code>PicoCSS</code> <code>Custom CSS</code></p>
                <p>Code Editors: <code>Visual Studio Code</code> <code>Codespaces</code> <code>Replit</code> <code>Atom</code> <code>Sublime Text</code></p>
                <p>Familiar with: <code>Windows</code> <code>Linux (Debian-based distros)</code> <code>macOS</code> <code>Android</code></p>
                </div>
            </div>
        </header>
        <script>
            feather.replace()
          </script>
        <button class="contrast switcher theme-switcher" onclick="changeTheme()" aria-label="Turn off dark mode"><i>Turn off dark mode</i></button>
    </body>
</html>