<!DOCTYPE html>
<html>
    <head>
      <script async defer data-host-url="https://umami.loca.lt" data-website-id="9d72f0a4-e805-4d22-a518-4573f03def17" src="/static/umami.js"></script>
      <script src="https://unpkg.com/feather-icons"></script>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="/static/extras.css">
        <script src="/static/commons.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snow</title>
    </head>
    <body>
        <nav>
            <ul style="margin-left: 25px;">
              <li><strong>Snow</strong></li>
            </ul>
            <ul style="margin-right: 25px;">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="//coolcodersj.is-a.dev">Photography</a></li>
              <li><a href="//scrapbook.hackclub.com/snow">Scrapbook</a></li>
            </ul>
          </nav>

          <header>
            <div class="container" style="align-items: unset; text-align: center;">
                <h1>My Projects</h1>
                <p>Everything I work on that's worth showing off is here.</p>
                <div style="text-align: left;">
                    {% for project in data %}
                    <article>
                        <header><h4>{{ project['name'] }}</h4></header>
                        {{ project['description'] }}
                        <br><br>
                        <a href="{{ project['github'] }}"><i data-feather="github"></i> View on Github</a>
                      </article>
                      {% endfor %}
                </div>
            </div>
        </header>
        <script>
            feather.replace()
          </script>
        <button class="contrast switcher theme-switcher" onclick="changeTheme()" aria-label="Turn off dark mode"><i>Turn off dark mode</i></button>
    </body>
</html>