<html>

<head>
    <script defer data-domain="shuchir.dev" src="https://plausible.shuchir.dev/js/script.js"></script>
    <script async src="https://umami.shuchir.dev/script.js" data-website-id="f8f5f396-6e1c-47c4-b966-d295c71a76de"></script>
    <link rel="stylesheet" href="/static/resume.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <p class="subtitle">(412) 368-6065</p>
    <p class="subtitle">contact@shuchir.dev</p>
    <p class="subtitle">https://shuchir.dev</p>
    <p class="title">Shuchir Jain<hr></p>

    
    <h1 class="subheading">EXPERIENCE</h1>
    <h2>Pendemer Productions, Virtual <span class="label">&mdash; Commissioned Volunteer</span></h2>
    <p>JAN 2023 - MAR 2023</p>
    <ul>
        <li>Improved the way show tickets are issued</li>
        <li>Fixed issues in website</li>
    </ul>
    <h2>Virtual <span class="label">&mdash; Freelancer</span></h2>
    <p>DEC 2022 - PRESENT</span></p>
    <ul>
        <li>A Citibike to Strava sync platform</li>
        <li>An AI-based Gaartic Phone platform</li>
        <li>A restaurant tracker</li>
    </ul>



    <h1 class="subheading">VOLUNTEER SERVICE</h1>
    <h2>IndusteelTech, Virtual/Pittsburgh Area <span class="label">&mdash; Co-Founder, Co-CEO, CTO, CFO</span></h2>
    <p>MAY 2023 - PRESENT</p>
    <ul>
        <li>Organizing a hackathon among other things</li>
    </ul>

    <h2>Mathlings, Virtual/Marshall Elementary School <span class="label">&mdash; Administrative Officer, Director of Summer Camps, Curriculum Writer, In-Person Classes Coordinator</span></h2>
    <p>OCT 2021 - PRESENT</p>
    <ul>
        <li>Organized in-person classes</li>
        <li>Wrote curriculum used during classes</li>
        <li>Organized summer camps and summer classes</li>
        <li>Managed emails, signups</li>
    </ul>

    <h2>Palettech, Virtual <span class="label">&mdash; Co-Founder, Co-COO</span></h2>
    <p>JUN 2022 - PRESENT</p>
    <ul>
        <li>Made websites and designs, and provided other services to people who needed them</li>
    </ul>

    <h2>Chesspire, Virtual <span class="label">&mdash; CTO</span></h2>
    <p>MAY 2023 - PRESENT</p>
    <ul>
        <li>Helped maintain website</li>
        <li>Found sponsors</li>
    </ul>

    <h2>Steel City Codes, Marshall Middle School <span class="label">&mdash; Volunteer</span></h2>
    <p>OCT 2022 - PRESENT</p>
    <ul>
        <li>Taught programming principles such as web dev to middle schoolers</li>
    </ul>

    <h2>Youth Research Initiative, Virtual <span class="label">&mdash; CTO</span></h2>
    <p>JUL 2023 - OCT 2023</p>
    <ul>
        <li>Made the website</li>
    </ul>

    <h2>Junior Birding Society, Pittsburgh <span class="label">&mdash; Board Member</span></h2>
    <p>JUN 2023 - PRESENT</p>
    <ul>
        <li>Made the website</li>
        <li>Help manage financials</li>
        <li>Help plan events</li>
    </ul>
   
    <h2>Teen Research Association, Virtual <span class="label">&mdash; CTO</span></h2>
    <p>AUG 2023 - PRESENT</p>


    <h1 class="subheading">EXTRACURRICULAR</h1>
    <h2>Science Fair Club - Vice President</h2>
    <p>SEP 2021 - PRESENT</p> 
    <ul>
        <li>Science fair club is the club at our school that manages registrations for science fairs as well as guides participants throughout the process</li>
    </ul>

    <h2>Pennsylvania Junior Academy of Science</h2>
    <p>SEP 2021 - PRESENT</p>
    <ul>
        <li>Completed a science or engineering experiment and presented it when complete to a panel of judges. In both years I have gone to the states level competition at Penn State University.</li>
    </ul>

    <h2>Pittsburgh Regional Science and Engineering Fair</h2>
    <p>SEP 2021 - PRESENT</p>
    <ul>
        <li>Completed a science or engineering experiment and presented it in a traditional science fair exhibit at Carnegie Science Center.</li>
    </ul>

    <h2>Stage Crew</h2>
    <p>SEP 2022 - PRESENT</p>
    <ul>
        <li>Spent over 50 hours creating hundreds of lighting cues for a production of <i>Peter and the Starcatcher</i>, a Disney play, as the sole lighting manager</li>
        <li>Helped coordinate the lighting for a production of <i>A Little Princess</i></li>
    </ul>

    <h2>HackNAI</h2>
    <p>JAN 2023 - MAY 2023</p>
    <ul>
        <li>Helped organize finances and logistics for a school hackathon.</li>
    </ul>

    <h2>Computer Club</h2>
    <p>NOV 2022 - PRESENT</p>
    <ul>
        <li>A group of students (including me) presents topics in computer science in an easy-to-understand way, such as Machine Learning.</li>
    </ul>

    <h2>Project Ignite</h2>
    <p>NOV 2022 - APR 2023</p>
    <ul>
        <li>Worked towards creating a drone to track people under rubble using thermal vision with a group at Carnegie Mellon University</li>
    </ul>

    <h2>DataJam</h2>
    <p>SEP 2022 - MAY 2023</p>
    <ul>
        <li>Completed a statistical research project on diversity in the S&E workforce with a group and presented it to a panel of judges</li>
    </ul>

    <h2>Model UN</h2>
    <p>SEP 2022 - MAY 2023</p>
    <ul>
        <li>Acted as a country and try to solve real-world problems with peers during conferences.</li>
    </ul>

    <h2>USDOE Science Bowl</h2>
    <p>JAN 2022 - MAR 2022</p>
    <ul>
        <li>Competed at Western PA's USDOE Regional Science Bowl with a team.</li>
    </ul>

    <h2>Jazz Band</h2>
    <p>DEC 2021 - MAY 2022</p>
    <ul>
        <li>Played in NA's jazz band.</li>
    </ul>

    <h2>Cross Country</h2>
    <p>SEP 2021 - NOV 2021</p>

    <h2>PA Media and Design Competition</h2>
    <p>NOV 2020 - MAY 2022</p>
    <ul>
        <li>Created a computer application that solved a real-world problem and presented it to a panel of judges. I went to the states&#39; competition at Dickinson College both years.</li>
    </ul>



    <h1 class="subheading">AWARDS</h1>
    <h2>Accepted to an AI Summer Camp Run By MIT and Stanford</h2>
    <p>JUN 2023</p>

    <h2>1st place at Pennsylvania Junior Academy of Science (States)</h2>
    <p>MAY 2023</p>

    <h2>1st place at Pennsylvania Junior Academy of Science (Regionals)</h2>
    <p>FEB 2023</p>

    <h2>PJAS Directors Award</h2>
    <p>FEB 2023</p>

    <h2>Broadcom Masters Top 300 Nationwide</h2>
    <p>OCT 2022</p>

    <h2>2nd place at Pennsylvania Junior Academy of Science (States)</h2>
    <p>MAY 2022</p>

    <h2>1st Place at PA Media and Design Competition (Regional)</h2>
    <p>APR 2022</p>

    <h2>1st place at Steel City Hacks Hackathon</h2>
    <p>APR 2022</p>

    <h2>2nd place at Pittsburgh Regional Science and Engineering Fair</h2>
    <p>MAR 2022</p>

    <h2>1st place at Pennsylvania Junior Academy of Science (Regionals)</h2>
    <p>FEB 2022</p>

    <h2>2nd Place at PA Media and Design Competition (States)</h2>
    <p>MAY 2021</p>

    <h2>1st Place at PA Media and Design Competition (Regional)</h2>
    <p>APR 2021</p>


    <h1 class="subheading">CERTIFICATIONS</h1>
    <h2>Back End Development and APIs</h2>
    <p>>OCT 2022</p>

    <h2>Front End Development Libraries</h2>
    <p>>OCT 2022</p>

    <h2>Scientific Computing with Python</h2>
    <p>>OCT 2022</p>


    <h1 class="subheading">SKILLS</h1>
    <h2>Programming</h2>
    <ul>
        <li>Advanced in the following languages: Python, Javascript, Web Languages</li>
        <li>Advanced in the following frameworks: Flask (Web apps), React Native (mobile apps), Typer (command line apps)</li>
        <li>Advanced in the following CSS libraries: Bootstrap, Bulma,  Material.io, PicoCSS, Custom CSS</li>
        <li>Familiar with: Windows (7, 10, 11), Debian-based Linux (Debian, Ubuntu, Zorin), macOS (10.13-13), Android (6-13)</li>
        <li>Can use the following tools/do the following: git, serverless platforms, server management, API development/usage, OAuth 2.0 development/usage, reverse engineering.</li>
    </ul>

    <h2>Project Management</h2>
    <ul>
        <li>Managed a team that scheduled over 600 games for Project Water programmatically</li>
        <li>Managed a statistical research analysis project (DataJam)</li>
    </ul>

    <h2>Other Skills</h2>
    <ul>
        <li>Able to research effectively</li>
        <li>Can do time management</li>
    </ul>
</body>
</html>
