<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shuchir Jain</title>
    <script defer data-domain="shuchir.dev" src="https://plausible.shuchir.dev/js/script.outbound-links.js"></script>
    <script async src="https://umami.shuchir.dev/script.js" data-website-id="f8f5f396-6e1c-47c4-b966-d295c71a76de"></script>
    <link rel="canonical" href="https://shuchir.dev/" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>html {scroll-behavior: smooth;}</style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="/static/cssanimation.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/uhx4bkb.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
</head>

<body class="pt-[40px] md:pt-[75px] pl-[30px] md:pl-[125px]">
    <script>
    new WOW().init();
    </script>

    <h1 class="mb-0 wow fadeInLeft">Shuchir Jain</h1>
    <p class="mb-2 wow fadeInLeft">Engineer and Software Developer</p> 
    
    <div class="flex flex-wrap flex-row gap-8">
        <a class="wow fadeInRightBig" target="_blank" href="//github.com/CoolCoderSJ"><i class="fa-brands fa-github"></i> CoolCoderSJ</a>
        <a class="wow fadeInRightBig" target="_blank" href="mailto:hi@shuchir.dev"><i class="fa-solid fa-envelope"></i> hi@shuchir.dev</a>
    </div>

<div class="grid grid-cols-1 md:grid-cols-2">

    <div class="w-full">
    <h3 class="mt-16 wow fadeInLeft">Projects</h3>
    <div class="grid grid-cols-1 md:grid-cols-2-sm w-screen ">
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2024</p>
        <div class="project wow fadeInUp">
            <h5>organizeAIO</h5>
            <h6>An event organization tool for hackathon organizers. Featuring rich attendee management, checkin, customizable registration form, public pages, projects, judging, public schedules, and more.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-16">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>Citirides</h5>
            <h6 class="mb-2 text-black"><b>Freelance / Project on Contract</b></h6>
            <h6>Citirides is a now-deprecated service that let users import their rides from Citibike into their Strava profile. Citirides called on Lyft's internal APIs to pull data that it then dumped into Strava.</h6></div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>PicoPasswds</h5>
            <h6>An experiment in cybersecurity. When you insert a raspberry pi pico (or a rubber ducky) into a laptop with this script, the script automatically grabs your chrome passwords, decrypts them, and sends them in a notification.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>PCB Business Cards</h5>
            <h6>My first attempt at PCB (printed circuit board) fabrication. The project consists of a business card that uses NFC technology. NFC is near field communication, and it means when the card is tapped to a phone, the phone receives (and might open) a custom link stored on the card.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>WheresMyFlight</h5>
            <h6>A flight tracker that features offline support, SMS notifications, boarding passes, bag tracking, and live flight tracking.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>Crinkle</h5>
            <h6>Another feature rich URL shortener featuring geotracking, qr codes, browser/os/device collection, referrer collection, custom domains, and more.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>HCGateway</h5>
            <h6>A platform to sync Android's Health Connect data to the cloud letting you access it via a REST API from anywhere. Also acts as a universal API for multiple health apps like Fitbit, Strava, Samsung Health, etc.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2023</p>
        <div class="project wow fadeInUp">
            <h5>Motion Lights</h5>
            <h6>Code for an API based ESP8266 board that turns my room lights into motion activated lights.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2022</p>
        <div class="project wow fadeInUp">
            <h5>Climalearn</h5>
            <h6>Easily see how climate change is adversely affecting the Earth and find out what you can do to stop it. Aggregates data directly from sources like NASA, NOAA, and Google's Project Sunroof.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2022</p>
        <div class="project wow fadeInUp">
            <h5>StudentMate</h5>
            <h6>An AI-powered homework assistant. StudentMate finds assignments from Blackboard (an LMS) homepages using AI and adds them to a todo list.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2021</p>
        <div class="project wow fadeInUp">
            <h5>MyT1D</h5>
            <h6>A mobile application to help type 1 diabetic patients manage their diabetes easier. Featuring Dexcom integration, meal management and insulin calculation, pen tracking, and more.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-11/12 md:w-3/4 mb-10">
        <p class="wow fadeInUp">2021</p>
        <div class="project wow fadeInUp">
            <h5>SearchDeck</h5>
            <h6>A search engine compiler. Collects results from 4 different search engines and smartly compiles them onto one page.</h6>
        </div>
    </div>
    
    </div></div>

    <div></div>

    <div>
    <h3 class="mt-16 wow fadeInLeft">Awards</h3>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2023</p>
        <h5><b>1st Place (States)</b> from Pennsylvania Junior Academy of Science</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2023</p>
        <h5><b>1st Place (Regionals)</b> from Pennsylvania Junior Academy of Science</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2023</p>
        <h5><b>Directors Award</b> from Pennsylvania Junior Academy of Science</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2022</p>
        <h5><b>Top 300 Researchers Nationwide</b> from Broadcom</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2022</p>
        <h5><b>2nd Place (States)</b> from Pennsylvania Junior Academy of Science</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2022</p>
        <h5><b>1st Place (Regionals)</b> from PA Media and Design</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2022</p>
        <h5><b>1st Place Winner</b> from Steel City Hacks Hackathon</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2022</p>
        <h5><b>2nd Place</b> from Pittsburgh Regional Science and Engineering Fair</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2022</p>
        <h5><b>1st Place (Regionals)</b> from Pennsylvania Junior Academy of Science</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2021</p>
        <h5><b>2nd Place (States)</b> from PA Media and Design</h5>
    </div>
    <div class="wow fadeInUp flex gap-4 md:gap-12 2xl:gap-24 w-[90%] mb-10">
        <p class="wow fadeInUp">2021</p>
        <h5><b>1st Place (Regionals)</b> from PA Media and Design</h5>
    </div>

    </div>

    <div>
    <div>
    <h3 class="mt-16 wow fadeInRight">Features</h3>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp">2022</p>
        <div class="project wow fadeInUp">
            <h5>Three NAI freshmen named in top science competition</h5>
        </div>
    </div>

    </div>
    <br>
    <div>
    <h3 class="mt-16 wow fadeInRight">Work Experience</h3>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp">2023 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>Peebles Volunteer Fire Dept.</h5>
            <h6 class="mb-2 text-black"><b>Contractor @ Pittsburgh, PA</b></h6>
            <h6>At the PDVFC, I am currently helping modernize their website.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp">2023 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>Pendemer Productions</h5>
            <h6 class="mb-2 text-black"><b>Contractor @ Pittsburgh, PA</b></h6>
            <h6>I help update online tickets and maintain the website.</h6>
        </div>
    </div>
    </div>

    <br>
    <div>
        <h3 class="mt-16 wow fadeInRight">Certifications</h3>
        <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
            <p class="wow fadeInUp">2024</p>
            <div class="project wow fadeInUp">
                <h5>College Algebra with Python</h5>
            </div>
        </div>
        <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
            <p class="wow fadeInUp">2022</p>
            <div class="project wow fadeInUp">
                <h5>Front End Development Libraries</h5>
            </div>
        </div>
        <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
            <p class="wow fadeInUp">2022</p>
            <div class="project wow fadeInUp">
                <h5>Back End Development and APIs</h5>
            </div>
        </div>
        <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
            <p class="wow fadeInUp">2022</p>
            <div class="project wow fadeInUp">
                <h5>Scientific Computing with Python</h5>
            </div>
        </div>
    
    </div>
    </div>
</div>

<div class="w-screen">
    <h3 class="mt-16 wow fadeInLeft">Volunteer Service</h3>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp">2022 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>Steel City Codes</h5>
            <h6 class="mb-2 text-black"><b>Volunteer @ Pittsburgh, PA</b></h6>
            <h6>At Steel City Codes, I teach middle schoolers a programming language once a week.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp">2023 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>Chesspire</h5>
            <h6 class="mb-2 text-black"><b>CTO @ Pittsburgh, PA</b></h6>
            <h6>At Chesspire, I've helped find sponsors for camps as well as maintain the website.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp">2022 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>Palettech</h5>
            <h6 class="mb-2 text-black"><b>Co-Founder, Co-COO</b></h6>
            <h6>At Palettech, I help provide services like programming to those who need it.</h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp w-[fit-content]">2021 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>Mathlings</h5>
            <h6 class="mb-2 text-black"><b>Administrative Officer, Director of Summer Camps, Curriculum Writer, In-Person Classes Coordinator @ Pittsburgh, PA</b></h6>
            <h6>At Mathlings, I've helped run several successful summer camps, 6-week programs, and in-person programs to help teach advanced math to children. I've also written part of the curriculum.   </h6>
        </div>
    </div>
    <div class="flex gap-4 md:gap-12 2xl:gap-24 w-full md:w-5/6 mb-10">
        <p class="wow fadeInUp w-[fit-content]">2023 &mdash; Now</p>
        <div class="project wow fadeInUp">
            <h5>IndusteelTech</h5>
            <h6 class="mb-2 text-black"><b>Co-Founder, CEO</b></h6>
            <h6>At IndusteelTech, I managed and ran a successful hackathon called Hack the Grid. 60 participants showed up, and over $8k in prizes was given out.</h6>
        </div>
    </div>
</div>

    <br><br>
    <link rel="stylesheet" href="/static/style2.css" />
</body>
</html>
